// Colors

$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$torquie: #41c7c7;
$light-yellow: #f3f1c7;
$deep-yellow: #fffbc5;
$biege: #298383;
$dark-biege: #228178;
$light-biege: #36adad;
$deep-biege: #2ea0a0;
$green: #76b852;
$deep-green: #8DC26F;
$deeper-green: #4CAF50;
$white: #fff;
$dark: #000;
$orange: #ffab40;
$accent: #3498DB;
$dark-accent: rgb(43, 125, 180);
$primary: #34495E;


$off-white: #a5afd7;
$purple: #8357c5;
$off-red: #cb444a;


// global stuff
$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

//Spacing
$xxs-size: 0.6em;
$xs-size: 0.9em;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//font thinness
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;

//overlay
$dark-overlay: rgba(0,0,0,0.6);
$white-overlay: rgba(255, 255, 255, 0.9);

//Font size
$icon-size: 55px;